<div class="container">
  <h2>User settings</h2>
  <form #form="ngForm" ngNativeValidate>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" required id="name" name="name" [(ngModel)]="usersettings.name">
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="emailOffers" name="emailOffers" [(ngModel)]="usersettings.emailOffers">
      <label class="form-check-label" for="emailOffers">
        Default checkbox
      </label>
    </div>
    <h5>Interface styles</h5>
    <div class="form-check form-group">
      <input class="form-check-input" type="radio" name="exampleRadios"
             id="darkinterface" value="Dark" checked name="interfacestyle" [(ngModel)]="usersettings.interfacestyle">
      <label class="form-check-label" for="darkinterface">
        Dark
      </label>
    </div>

    <div class="form-check form-group ">
      <input class="form-check-input" type="radio" name="exampleRadios"
          name="interfacestyle" [(ngModel)]="usersettings.interfacestyle"  id="lightinterface" value="Light">
      <label class="form-check-label" for="lightinterface">
       Light
      </label>
    </div>
    <div class="form-check form-group">
      <input class="form-check-input" type="radio" name="interfacestyle" [(ngModel)]="usersettings.interfacestyle" id="mediuminterface" value="medium">
      <label class="form-check-label" for="mediuminterface">
       medium
      </label>
    </div>
    <div class="form-group">
      <label for="SubscriptionType">SubscriptionType</label>
      <select class="form-control" id="SubscriptionType" name="subscriptionType" [(ngModel)]="usersettings.subscriptionType">
        <option>Monthly</option>
        <option>Annualy</option>
        <option>LifeTime</option>

      </select>
    </div>
    <div class="form-group">
      <label for="Notes">Notes</label>
      <textarea class="form-control" id="Notes" rows="3" name="notes" [(ngModel)]="usersettings.notes"></textarea>
    </div>
    <button class="btn btn-primary">Send</button>
  </form>
</div>
{{form.value  |json}}
